footer {
      padding:1vh;
      background-color: black;
      color: white;
      div {
        display: flex;
        justify-content: space-around;
        span {
          margin-top: 1.1vh;
        }
      }
      p {
        display: flex;
        justify-content: center;
        margin-top: 2.5vh;
        font-style: italic;
      }
    }