@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

main {
  background: linear-gradient(#fff700 0%, #e5893d 60%);
  color: black;
  border-top: 0.5vh solid white;
  border-bottom: 0.5vh solid white;
  min-height: 75vh;
  #nouvelle_recherche {
     button {
      background-color: #e5893d;
      height: 4vh;
      width: 40vw;
      border-radius: 10vw;
      box-shadow: 1vh 2vw 2vw rgba(0, 0, 0, 0.2);
    }
    p {
      font-family: "Russo One";
      font-size: 2.2vh;
      text-align: center;
    }
    input {
      width: 85vw;
      height: 6vh;
      border-radius: 7.3vw;
      display: block;
      margin: 2vh auto;
      text-align: center;
      font-size: 2vh;
    }
    #btn_noirs {
      display: flex;
      justify-content: space-around;
      margin: 2vh auto;
      button {
        color: white;
        background-color: black;
        font-family: "Sanchez";
        font-size: 1.7vh;
        display: block;
        margin: 5vh auto;
        height: 5vh;
        border-radius: 10vw;
      }
      button:nth-child(1) {
        width: 30vw;
      }
    }
  }
  #resultats {
    div:nth-child(1) {
      display: flex;
      justify-content: space-around;
      p {
        font-family: "Russo One";
        font-size: 2.2vh;
        border-bottom: solid 0.2vh black;
      }
      button {
        color: white;
        background-color: black;
        font-family: "Russo One";
        font-size: 2vh;
        display: block;
        margin: 5vh auto;
        width: 50vw;
        height: 5vh;
        border-radius: 10vw;
        box-shadow: 1vh 2vw 2vw rgba(0, 0, 0, 0.2);
        margin: 0;
      }
    }
  }
  .encart_resultat {
    width: 85vw;
    margin: 2vh auto;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Russo One";
    padding: 1vh;
    border: solid 0.2vh white;
    border-radius: 1vh;
    div {
      display: flex;
      justify-content: space-around;
      img {
        height: 3.3vh;
      }
    }
    button {
      background-color: red;
      color: white;
      font-family: "Russo One";
      height: 3.5vh;
      width: 30vw;
      border-radius: 8vw;
      margin: 1vh 0.5vh;
    }
  }
}